.xyz {
    background-color: red;
    background-image: url("./ali\ zafar.jpg");
    padding: 300px;
    position: relative;
}
.qw {
    position: absolute !important;
    left: 25px !important;
    bottom: 7px;
    font-size: 30px !important;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
    border: 1px solid rgb(46, 44, 44);
    background-color: rgb(46, 44, 44);
    padding: 300px;
    position: relative;
}
.c1{
    position: absolute;
    top: 150px;
    color: whitesmoke;
}
.c2{
    position: absolute;
    top: 100px;
    right: 100px;
    border: 1px solid rgb(46, 44, 44);
    background-color: wheat;
    padding: 230px;
    background-image: url("./image11-1.jpg");
}
.box{
    position: relative;
    background-color: black;
    border: 1px solid black;
    padding: 100px;
    padding-right: 700px;
    padding-left: 200px;
    position: absolute;
    bottom: -170px;
    left: 250px;
}
.c3{
    position: absolute;
    top: 70px;
    left: 80px;
    color: whitesmoke;
    font-size: 25px;
}
.c4{
    position: absolute;
    top: 70px;
    left: 280px;
    color: whitesmoke;
    font-size: 25px;
}
.c5{
    position: absolute;
    top: 70px;
    left: 490px;
    color: whitesmoke;
    font-size: 25px;
}
.c6{
    position: absolute;
    top: 70px;
    left: 700px;
    color: whitesmoke;
    font-size: 25px;
}
.pic{
    border: 1px solid black;
    background-color: black;
    padding: 250px;
    position: relative;
    top: 200px;
}
.c7{
    background-color: black;
    border: 1px solid black;
    padding: 270px;
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 25px;
    color: white;
}
.c8{
    background-color: red;
    border: 1px solid red;
    padding: 270px;
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 228px;
    background-image: url("./image10-1.jpg");
    color: white;
}
.cb{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 150px;
    position: relative;
    top: 180px;
}
.c9{
    position: absolute;
    top: 75px;
    text-align: center;
    left: 230px;
    font-size: 50px;
}
.c10{
    position: absolute;
    top: 150px;
    left: 400px;
    font-size: 20px;
}
.music{
    background-color: brown;
    border: 1px solid brown;
    padding: 400px;
    position: relative;
    top: 100px;
}
.c11{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 480px;
}
.c12{
    background-color: white;
    
    padding: 175px;
    position: absolute;
    top: 100px;
    left: 350px;
    padding-right: 450px;
    padding-bottom: 300px;
    background-image: url("./1986006-xulfi-1559552589.gif");
}
.pics{
    padding: 400px;
    background-color: white;
    position: relative;
    top: 150px;
}
.c13{
    position: absolute;
    padding: 200px;
    padding-bottom: 350px;
    padding-right: 200px;
    background-color: white;
    top: 150px;
    left: 30px;
    background-image: url("./image2.jpg");
}
.c14{
    position: absolute;
    padding: 200px;
    padding-bottom: 350px;
    padding-right: 200px;
    background-color: white;
    top: 150px;
    left: 465px;
    background-image: url("./image3.jpg");
}
.c15{
    position: absolute;
    padding: 200px;
    padding-bottom: 350px;
    padding-right: 200px;
    background-color: white;
    top: 150px;
    left: 900px;
    background-image: url("./image4.jpg");
}
.event{
    padding: 400px;
    background-color: red;
    position: relative;
    top: 200px;
}
.c16{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    position: absolute;
    top: 10px;
    left: 450px;
}
.c17{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 150px;
    left: 200px;
}
.c18{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 160px;
    left: 600px;

}
.c19{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 300px;
    left: 200px;
}
.c20{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 310px;
    left: 600px;

}
.c21{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 450px;
    left: 200px;
}
.c22{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 460px;
    left: 600px;

}
.c23{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 600px;
    left: 200px;
}
.c24{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 610px;
    left: 600px;
}
.book{
    position: relative;
    background-color: white;
    padding: 200px;
    top: 230px;
}
.c25{
    position: absolute;
    color: black;
    top: 100px;
    left: 300px;
    font-size: 30px;
}
.c26{
    position: absolute;
    padding: 20px;
    width: 700px;
    left: 300px;
}
.c27{
    position: absolute;
    padding: 20px;
    width: 330px;
    left: 300px;
    top: 300px;
}
.c28{
    position: absolute;
    padding: 20px;
    width: 330px;
    left: 670px;
    top: 300px;
}
.submit{
    position: absolute;
    width: 700px;
    background-color: black;
    color: white;
    text-align: center;
    top: 400px;
    left: 300px;
    padding: 10px;
}
.last{
    position: relative;
    padding: 300px;
    top: 350px;
    background-color: rgb(168, 36, 36);
    background-image: url("./ali\ zafar.jpg");
}
.c29{
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    top: 200px;
    left: 550px;
}
.c30{
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    top: 250px;
    left: 630px;
    font-size: 50px;
}