/* Global styling */
body {
  font-family: Arial, sans-serif;
  margin-top: 60px; /* Account for fixed navbar */
}

/* Hero Section Styling */
.hero-section {
  height: 10vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section h1, .hero-section h4 {
  margin: 0;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Stats Section Styling */
.stats-section p {
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .stats-section p {
    font-size: 1rem;
  }
}

/* Events Section Styling */
.events-section h1 {
  font-size: 2.5rem;
}

@media (max-width: 576px) {
  .events-section h1 {
    font-size: 2rem;
  }
}

/* Contact Section Styling */
.contact-section form input,
.contact-section form button {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .about-section h1,
  .about-section h3 {
    font-size: 1.5rem;
  }
}
